.nav-border-conditional {
  @media (min-width: 1024px) {
    border-bottom: 2px solid #ececec;
  }
}

.nav-border-mobile {
  @media (max-width: 1024px) {
    border-bottom: 2px solid #ececec;
  }
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
  color: #000000b3;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.nav-li {
  cursor: pointer;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: #000000b3;
  font-weight: 500;

  &:hover {
    color: black;
  }

  @media (min-width: 1024px) {
    padding: 1rem 1.5rem;
    &-active {
      background-color: white;
      color: black;
    }
  }
}

.sub-menu {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  height: 100vh;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin-top: 0;
    height: auto;
  }

  li {
    cursor: pointer;
    color: #000000b3;
  }
}

.hamburger {
  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.info-component {
  position: absolute;
  top: 3.75rem;
  right: 0;
  z-index: 3;
  min-width: 20rem;
}
