<div class="w-full mx-auto max-w-[70rem] gap-16 flex lg:flex-row flex-col p-6">
  <div class="lg:w-[60%] w-full">
    <div class="skeleton-image"></div>
  </div>
  <div class="lg:w-[40%] min-w-[15rem] w-full flex flex-col gap-3">
    <div class="skeleton-text skeleton-header"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text skeleton-subHeader"></div>

    <div class="grid sm:grid-cols-3 grid-cols-2 gap-3">
      <div
        *ngFor="let item of sizeSkeletons"
        class="skeleton-button rounded-[10px] h-[3rem]"
      ></div>
    </div>

    <div class="rounded-full skeleton-button h-[3.626rem]"></div>
    <div class="rounded-full skeleton-button h-[3.626rem]"></div>
  </div>
</div>
