<app-product-detail-skeleton *ngIf="!isLoaded"></app-product-detail-skeleton>
<div
  *ngIf="isLoaded"
  class="w-full mx-auto max-w-[70rem] gap-16 flex lg:flex-row flex-col p-6"
>
  <div class="lg:w-[60%] w-full flex flex-col gap-6">
    <img
      [src]="item?.imageUrl || '../../../assets/images/lazy-image.svg'"
      alt="Cover-Image"
      id="cover-img"
      class="rounded-[10px]"
    />
  </div>
  <div class="lg:w-[40%] min-w-[15rem] w-full flex flex-col gap-3">
    <span class="font-medium text-3xl">{{ item?.name }}</span>
    <span class="font-medium">{{ item?.shortDes }}</span>
    <span class="font-medium text-lg" *ngIf="!item?.discountPrice"
      >{{ item?.price | number : "1.2-2" }} €</span
    >
    <div *ngIf="item?.discountPrice" class="flex gap-2">
      <span class="font-medium text-lg"
        >{{ item?.discountPrice | number : "1.2-2" }} €</span
      >
      <span class="font-medium text-lg text-[#505050] line-through"
        >{{ item?.price | number : "1.2-2" }} €</span
      >
    </div>

    <span
      class="font-medium text-lg"
      [ngClass]="{ 'text-[#ff5050]': showError }"
      >Select size</span
    >
    <div
      class="grid sm:grid-cols-3 grid-cols-2 gap-3"
      [ngClass]="{ 'error-border': showError }"
    >
      <button
        *ngFor="let size of item?.sizes"
        class="border-2 border-[#ececec] hover:border-black py-3 px-6 rounded-[10px] font-medium"
        (click)="onSelectSize(size)"
        [ngClass]="{ 'border-black': selectedSize === size }"
      >
        {{ size }}
      </button>
    </div>

    <button
      class="bg-black hover:bg-[#404040] text-white rounded-full py-5 leading-[1.125rem]"
      (click)="onAddToCart()"
    >
      <span class="font-medium text-lg">Add to cart</span>
    </button>

    <button
      class="flex gap-3 justify-center items-center rounded-full py-5 border-2 border-[#dedede] hover:border-black"
      (click)="onAddToFavorites()"
    >
      <span class="font-medium text-lg leading-[1.125rem]"
        >Add to Favorites</span
      >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
        ></path>
      </svg>
    </button>
  </div>
</div>
