.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.nav-li {
  cursor: pointer;
}

.sub-menu {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
