.form-input {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #f2f2f2;

  &:focus {
    outline: 1px solid #d7d7d7;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-textarea {
  resize: none;
}

.form-select {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #f2f2f2;

  &:focus {
    outline: 1px solid #d7d7d7;
  }
}

.submit-btn {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #007aff;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.upload-btn {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}

.btn-disabled {
  background-color: #246ab4;
  cursor: not-allowed;
}
