<div class="w-full mx-auto max-w-[40rem] gap-16 p-6">
  <form class="flex flex-col gap-3" [formGroup]="form" (submit)="onSubmit()">
    <label for="name">Name</label>
    <input
      formControlName="name"
      class="form-input"
      type="text"
      id="name"
      placeholder="Enter product name"
    />

    <label for="price">Price</label>
    <input
      formControlName="price"
      class="form-input"
      type="number"
      id="price"
      placeholder="Enter product price"
    />

    <label for="for">For</label>
    <select
      formControlName="for"
      class="form-select"
      id="for"
      name="selectedFor"
      (change)="changeFor($event)"
    >
      <option *ngFor="let for of forOptions" [ngValue]="for">
        {{ for }}
      </option>
    </select>

    <label for="category" name="selectedCategory">Category</label>
    <select
      (change)="changeCategory($event)"
      formControlName="category"
      class="form-select"
      id="category"
    >
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category }}
      </option>
    </select>

    <label for="shortDes">Short Description</label>
    <textarea
      formControlName="shortDes"
      class="form-textarea form-input"
      id="shortDes"
      rows="3"
    ></textarea>

    <label for="longDes">Full Description</label>
    <textarea
      formControlName="longDes"
      class="form-textarea form-input"
      id="longDes"
      rows="3"
    ></textarea>

    <label for="image">Product Image</label>
    <input
      (input)="handleImage($event)"
      formControlName="image"
      type="file"
      class="form-control-file"
      id="image"
    />

    <button type="submit" class="submit-btn">Add Item</button>
    <span *ngIf="showError" class="text-[#ff5050] w-full text-center"
      >Please complete all fields!</span
    >
  </form>
</div>
