<div class="w-full mx-auto max-w-[70rem] gap-9 p-6">
  <app-checkout-progress-bar
    [secondStepPassed]="secondStepPassed"
    [thirdStepPassed]="thirdStepPassed"
    class="w-full"
  ></app-checkout-progress-bar>
  <div *ngIf="!secondStepPassed" class="flex flex-col gap-6 mt-6">
    <h1 class="text-3xl font-medium">Delivery address</h1>
    <form [formGroup]="deliveryForm" (submit)="onSubmit()">
      <div class="flex flex-col gap-6">
        <div class="elements-group">
          <div class="form-element">
            <label for="name">Name</label>
            <input
              formControlName="name"
              type="text"
              id="name"
              name="name"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('name')?.touched &&
                  !deliveryForm.get('name')?.dirty
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('name')?.touched &&
                !deliveryForm.get('name')?.dirty
              "
              class="error-message"
              >This field cannot be empty.</span
            >
          </div>
          <div class="form-element">
            <label for="name">Surname</label>
            <input
              formControlName="surname"
              type="text"
              id="surname"
              name="surname"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('surname')?.touched &&
                  !deliveryForm.get('surname')?.dirty
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('surname')?.touched &&
                !deliveryForm.get('surname')?.dirty
              "
              class="error-message"
              >This field cannot be empty.</span
            >
          </div>
        </div>
        <div class="form-element">
          <label for="street">Adress</label>
          <input
            formControlName="adress"
            type="text"
            id="street"
            name="street"
            class="form-input"
            [ngClass]="{
              'error-border':
                deliveryForm.get('adress')?.touched &&
                !deliveryForm.get('adress')?.dirty
            }"
          />
          <span
            *ngIf="
              deliveryForm.get('adress')?.touched &&
              !deliveryForm.get('adress')?.dirty
            "
            class="error-message"
            >This field cannot be empty.</span
          >
        </div>
        <div class="elements-group">
          <div class="form-element">
            <label for="city">City</label>
            <input
              formControlName="city"
              type="text"
              id="city"
              name="city"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('city')?.touched &&
                  !deliveryForm.get('city')?.dirty
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('city')?.touched &&
                !deliveryForm.get('city')?.dirty
              "
              class="error-message"
              >This field cannot be empty.</span
            >
          </div>
          <div class="form-element">
            <label for="zip">ZIP code</label>
            <input
              formControlName="zipCode"
              type="text"
              id="zip"
              name="zip"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('zipCode')?.touched &&
                  !deliveryForm.get('zipCode')?.dirty
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('zipCode')?.touched &&
                !deliveryForm.get('zipCode')?.dirty
              "
              class="error-message"
              >This field cannot be empty.</span
            >
          </div>
          <div class="form-element">
            <label for="country">Country</label>
            <input
              formControlName="country"
              type="text"
              id="country"
              name="country"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('country')?.touched &&
                  !deliveryForm.get('country')?.dirty
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('country')?.touched &&
                !deliveryForm.get('country')?.dirty
              "
              class="error-message"
              >This field cannot be empty.</span
            >
          </div>
        </div>
        <div class="elements-group">
          <div class="form-element">
            <label for="email">E-mail</label>
            <input
              formControlName="email"
              type="text"
              id="email"
              name="email"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('email')?.touched &&
                  !deliveryForm.get('email')?.valid
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('email')?.touched &&
                !deliveryForm.get('email')?.valid
              "
              class="error-message"
              >Please enter a valid e-mail address</span
            >
          </div>
          <div class="form-element">
            <label for="phone">Phone</label>
            <input
              formControlName="phone"
              type="text"
              id="phone"
              name="phone"
              class="form-input"
              [ngClass]="{
                'error-border':
                  deliveryForm.get('phone')?.touched &&
                  !deliveryForm.get('phone')?.valid
              }"
            />
            <span
              *ngIf="
                deliveryForm.get('phone')?.touched &&
                !deliveryForm.get('phone')?.valid
              "
              class="error-message"
              >Please provide a valid phone number</span
            >
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-6">
        <button
          type="submit"
          class="bg-black text-white px-6 py-3 rounded-md"
          [ngClass]="{ 'button-invalid': !deliveryForm.valid }"
        >
          Continue
        </button>
      </div>
    </form>
  </div>

  <div
    *ngIf="secondStepPassed && !thirdStepPassed"
    class="flex flex-col gap-6 mt-6"
  >
    <h1 class="text-3xl font-medium">Shopping Summary</h1>
    <app-summary-item
      *ngFor="let item of cartItems"
      [id]="item.id"
      [name]="item.name"
      [price]="item.price"
      [shortDes]="item.shortDes"
      [size]="item.size"
      [imageUrl]="item.imageUrl"
      [discountPrice]="item.discountPrice"
      [quantity]="item.quantity"
    ></app-summary-item>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 w-full">
      <div class="data-info-container">
        <span class="data-info-header">Personal data</span>
        <div class="flex gap-2">
          <span>{{ deliveryData.name }}</span>
          <span>{{ deliveryData.surname }}</span>
        </div>
        <span>{{ deliveryData.email }}</span>
        <span>{{ deliveryData.phone }}</span>
      </div>
      <div class="data-info-container">
        <span class="data-info-header">Delivery adress</span>
        <span>{{ deliveryData.country }}</span>
        <span>{{ deliveryData.adress }}</span>
        <div class="flex">
          <span>{{ deliveryData.zipCode }},&nbsp;</span>
          <span>{{ deliveryData.city }}</span>
        </div>
      </div>
      <div class="data-info-container items-start">
        <span class="data-info-header">Payment method</span>
        <span>{{ paymentMethodService.paymentMethod | titlecase }} </span>
        <button
          class="py-2 px-5 border-2 border-[#f0f0f0] bg-[#f5f5f5] rounded-[5px] font-medium"
          (click)="paymentMethodService.handlePopup()"
        >
          Change
        </button>
      </div>
      <div></div>
      <div></div>
      <div class="flex flex-col gap-3">
        <div class="flex justify-between">
          <span>Shipping</span>
          <span>{{ shipping | number : "1.2-2" }} €</span>
        </div>
        <div class="flex justify-between">
          <span>Total</span>
          <span>{{ totalPrice | number : "1.2-2" }} €</span>
        </div>
        <button
          (click)="onConfirm()"
          class="bg-black text-white px-6 py-3 rounded-md"
        >
          Order and pay
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="thirdStepPassed" class="w-full h-full flex justify-center mt-32">
    <span class="text-xl font-medium"> Thank you for your order! </span>
  </div>
</div>
<app-payment-method-popup> </app-payment-method-popup>
