<div class="my-6">
  <app-slider></app-slider>

  <div class="flex flex-col gap-10 my-10">
    <div class="home-section">
      <span class="home-section-header">Popular this week</span>
      <div class="home-section-grid">
        <app-product-view
          *ngFor="let item of shoes | async"
          [name]="item.name"
          [price]="item.price"
          [for]="item.for"
          [imageUrl]="item.imageUrl"
          [shortDes]="item.shortDes"
        ></app-product-view>
      </div>
    </div>

    <div class="home-section">
      <span class="home-section-header">Sale</span>
    </div>

    <div class="home-section">
      <span class="home-section-header">Bestsellers</span>
    </div>
  </div>
</div>
